[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/zkerriga/libft.git
[submodule "libs/get_next_line"]
	path = libs/get_next_line
	url = https://github.com/zkerriga/get_next_line.git
[submodule "Google_test/lib"]
	path = Google_test/lib
	url = https://github.com/google/googletest.git
[submodule "libs/minilibx"]
	path = libs/minilibx
	url = https://github.com/ttshivhula/minilibx.git
[submodule "libs/libgraphic_math"]
	path = libs/libgraphic_math
	url = https://github.com/zkerriga/libgraphic_math.git
